<a href="https://colab.research.google.com/github/keyeron16/test2/blob/main/working_on_csv_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **KEYERON SISAY                         NSR/0855/12**

# **TO IMPORT CSV FILE TO COLAB**

In [1]:
from google.colab import files


uploaded = files.upload()

Saving iris.csv to iris.csv

# **To Display all values**

In [2]:

import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['iris.csv']))
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

**To Display The First 10 rows**

In [16]:
import pandas as pd
data = pd.read_csv("iris.csv") 
data.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

**To Display The Last 10 rows**

In [17]:
import pandas as pd
data = pd.read_csv("iris.csv") 
data.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

 **Read specific columns of csv file using Pandas**

In [18]:

df = pd.read_csv("iris.csv", usecols = ['sepal.length','variety'])
print(df)

     sepal.length    variety
0             5.1     Setosa
1             4.9     Setosa
2             4.7     Setosa
3             4.6     Setosa
4             5.0     Setosa
..            ...        ...
145           6.7  Virginica
146           6.3  Virginica
147           6.5  Virginica
148           6.2  Virginica
149           5.9  Virginica

[150 rows x 2 columns]

**Read specific columns of csv file using Pandas**

In [8]:

df = pd.read_csv("iris.csv", usecols = ['variety'])
print(df)

       variety
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
..         ...
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

[150 rows x 1 columns]

**To Display shape columns dtypes**

In [19]:
import pandas as pd
data = pd.read_csv("iris.csv") 
data.shape
data.columns
data.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

**Display 10 rows by selecting 1st 2nd and 4th columen**

In [15]:
mydata = pd.read_csv("iris.csv", usecols=[0,1,3], nrows=10)

print(mydata)

   sepal.length  sepal.width  petal.width
0           5.1          3.5          0.2
1           4.9          3.0          0.2
2           4.7          3.2          0.2
3           4.6          3.1          0.2
4           5.0          3.6          0.2
5           5.4          3.9          0.4
6           4.6          3.4          0.3
7           5.0          3.4          0.2
8           4.4          2.9          0.2
9           4.9          3.1          0.1

**To find mean value in Spal.Length Columen**

In [22]:
mean1 = df['sepal.length'].mean()
 
print(mean1)

5.843333333333334

**To find sumation of value in Spal.Length Columen**

In [29]:
sum1 = df['sepal.length'].sum()
print(sum1)

876.5

**To find minimum value in Spal.Length Columen**

In [28]:
max1 = df['sepal.length'].max()
print(max1)

7.9

**To find minimum value in Spal.Length Columen**

In [27]:
min1 = df['sepal.length'].min()
print(min1)

4.3

**To count length of value of Spal.Length Columen**

In [26]:
count1 = df['sepal.length'].count()
print(count1)

150

**To Calculate Median of Spal.Length Columen**

In [24]:
median1 = df['sepal.length'].median() 
print(median1)

5.8

**To Calculate standard deviation of Spal.Length Columen**

In [25]:
std1 = df['sepal.length'].std() 
print(std1)

0.828066127977863

**To Calculate Variation of Spal.Length Columen**

In [23]:
var1 = df['sepal.length'].var() 
print(var1)

0.6856935123042507